---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

<div class="publications">

  <div class="publication-item">
    <p>
      <strong>Accurate Detection of Tandem Repeats from Error-Prone Sequences with EquiRep</strong>
      [<a href="https://doi.org/10.1101/gr.280750.125" target="_blank">paper</a>]
      [<a href="https://github.com/Shao-Group/EquiRep" target="_blank">code</a>]<br>
      Zhezheng Song<sup>*</sup>, <strong>Tasfia Zahin</strong><sup>*</sup>, Xiang Li, Mingfu Shao<br>
      Genome Research 2025
    </p>
  </div>

  <div class="publication-item">
    <p>
      <strong>Accurate Detection of Tandem Repeats from Error-Prone Sequences with EquiRep</strong>
      [<a href="https://link.springer.com/chapter/10.1007/978-3-031-90252-9_46" target="_blank">paper</a>]
      [<a href="https://doi.org/10.1101/2024.11.05.622153" target="_blank">preprint</a>]
      [<a href="/files/RECOMB25_EquiRep.pdf" target="_blank">slide</a>]<br>
      Zhezheng Song<sup>*</sup>, <strong>Tasfia Zahin</strong><sup>*</sup>, Xiang Li, Mingfu Shao<br>
      Research in Computational Molecular Biology (RECOMB 2025)
    </p>
  </div>


  <div class="publication-item">
    <p>
      <strong>An alignment-free method for phylogeny estimation using maximum likelihood</strong>
      [<a href="https://doi.org/10.1186/s12859-025-06080-w" target="_blank">link</a>]
      <!-- [<a href="/files/RECOMB24-TERRACE.pdf" target="_blank">slide</a>]--><br>
      <strong>Tasfia Zahin</strong><sup>*</sup>, Md Hasin Abrar<sup>*</sup>, Mizanur Rahman Jewel, Tahrina Tasnim, Md. Shamsuzzoha Bayzid, Atif Rahman<br>
      BMC Bioinformatics 2025
    </p>
  </div>

  <div class="publication-item">
    <p>
      <strong>Accurate Assembly of Circular RNAs with TERRACE</strong>
      [<a href="https://genome.cshlp.org/content/34/9/1365" target="_blank">link</a>]
      [<a href="https://github.com/Shao-Group/TERRACE" target="_blank">code</a>]<br>
      <strong>Tasfia Zahin</strong>, Qian Shi<sup>*</sup>, Carl Zang<sup>*</sup>, Mingfu Shao<br>
      Genome Research 2024
    </p>
  </div>

  <div class="publication-item">
    <p>
      <strong>Accurate Assembly of Circular RNAs with TERRACE</strong>
      [<a href="https://link.springer.com/chapter/10.1007/978-1-0716-3989-4_49" target="_blank">paper</a>]
      [<a href="https://doi.org/10.1101/2024.02.09.579380" target="_blank">preprint</a>]
      [<a href="/files/RECOMB24-TERRACE.pdf" target="_blank">slide</a>]<br>
      <strong>Tasfia Zahin</strong>, Qian Shi<sup>*</sup>, Carl Zang<sup>*</sup>, Mingfu Shao<br>
      Research in Computational Molecular Biology (RECOMB 2024)
    </p>
  </div>

</div>

<!-- Add footnote here -->
<hr>
<p style="font-size: 12px;"><strong>*</strong> Equal contribution</p>
