---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

<div class="publications">

  <h2>Publications</h2>

  <!-- <h3>2025</h3> -->

  <!-- <div class="publication-item">
    <p>
      <strong>GReaTer: Gradients over Reasoning Makes Smaller Language Models Strong Prompt Optimizers</strong>
      [<a href="https://arxiv.org/pdf/2412.09722.pdf" target="_blank">PDF</a>]<br>
      <strong>Sarkar Snigdha Sarathi Das</strong>, Ryo Kamoi, Bo Pang, Yusen Zhang, Rui Zhang<br>
      ICLR 2025.
    </p>
  </div> -->

  <!-- <h3>2024</h3> -->

  <!-- <div class="publication-item">
    <p>
      <strong>Evaluating LLMs at Detecting Errors in LLM Responses</strong>
      [<a href="https://arxiv.org/pdf/2404.03602.pdf" target="_blank">PDF</a>]<br>
      Ryo Kamoi, <strong>Sarkar Snigdha Sarathi Das</strong>, Renze Lou, Jihyun Janice Ahn, Yilun Zhao, Xiaoxin Lu, Nan Zhang, Yusen Zhang, Ranran Haoran Zhang, Sujeeth Reddy Vummanthala, Salika Dave, Shaobo Qin, Arman Cohan, Wenpeng Yin, Rui Zhang<br>
      COLM 2024.
    </p>
  </div>

  <div class="publication-item">
    <p>
      <strong>S3-DST: Structured Open-Domain Dialogue Segmentation and State Tracking in the Era of LLMs</strong>
      [<a href="https://aclanthology.org/2024.findings-acl.891.pdf" target="_blank">PDF</a>]<br>
      <strong>Sarkar Snigdha Sarathi Das</strong>, Chirag Shah, Mengting Wan, Jennifer Neville, Longqi Yang, Reid Andersen, Georg Buscher, Tara Safavi<br>
      Findings of ACL 2024.
    </p>
  </div> -->

  <div class="publication-item">
    <p>
      <strong>ccurate Assembly of Circular RNAs with TERRACE</strong>
      [<a href="https://genome.cshlp.org/content/34/9/1365" target="_blank"></a>]<br>
      <strong>Tasfia Zahin</strong>, Qian Shi, Carl Zang, Mingfu Shao<br>
      RECOMB 2024, Genome Research 2024.
    </p>
  </div>

</div>

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



